<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<h1>About us</h1>
<div class='text-container'>
    <div class='helperTipsAboutUs'>
        <p>Hi! This is our Fitness App and it was built by two ironhack students, João and Nuno.
        It was built with the intention to help the user building templates where they can check their workout and reach your fitness goals.
        Check the different pages and build the best session for your needs. But remeber, be consistent in your progress and patient
        Give it a try! Hope you enjoy it</p>
    </div>
  </div>
  <script src="/js/script.js"></script>
</body>
</html>